.*.sw?
.sw?
Makefile.in
aclocal.m4
autom4te.cache/
compile
configure
depcomp
install-sh
missing
src/Makefile.in
src/config.h.in
Makefile
config.log
config.status
src/Makefile
src/config.h
src/config.h.in~
src/cql
src/cql-main.o
src/stamp-h1
src/.deps
